@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    src: url('./fonts/blanka.otf');
    font-family: 'Osaka'
}

.osaka {
    font-family: 'Osaka', sans-serif !important;  
}

html {
    font-family: 'Osaka', sans-serif !important;
}